<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/app.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/quanlycapphat.css">
</head>

<body>
<div class="layout">
  <header>
    <div class="logo">Logo</div>
    <div class="user">
      <button class="btn btn-green">Đăng xuất</button>
      <span class="user-info">
          avatar icon
        </span>
    </div>
  </header>
  <main>
    <div class="sidebar">
      <ul>
        <li>Quản lý tài sản</li>
        <li>Quản lý phiếu nhập</li>
        <li class="active">Quản lý bảo hành</li>
        <li>Quản lý cấp phát</li>
        <li>Kiểm kê tài sản</li>
        <li>Thống kê báo cáo</li>
      </ul>
    </div>
    <div class="main">
      <div class="search">
        <div>
          <input class="input" type="text" placeholder="Mã phiếu nhập" />
          <button class="btn btn-green">Tìm kiếm</button>
        </div>
      </div>
      <div class="allocation-filter">
        <span class="filter-type filter-allocated filter-active">Đã cấp phát</span>
        <span class="filter-type filter-not-allocate">Chưa cấp phát</span>
      </div>
      <div class="table">
        <table>
          <thead>
          <tr>
            <th style="width: 50px;">STT</th>
            <th style="width: 120px;">Mã tài sản</th>
            <th style="width: 450px;">Tên tài sản</th>
            <th style="width: 150px;">Loại tài sản</th>
            <th>Người được cấp phát</th>
            <th>Mã nhân viên</th>
            <th>Ngày cấp phát</th>
            <th>Thao tác</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>TS001</td>
            <td>Laptop Dell XPS 13 9320 i5 1240P</td>
            <td>Laptop</td>
            <td>Nguyễn Văn A</td>
            <td>ANV10023</td>
            <td>12/04/2023</td>
            <td>
              <button class="btn btn-green btn-recovery">Thu hồi</button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>TS001</td>
            <td>Laptop Dell XPS 13 9320 i5 1240P</td>
            <td>Laptop</td>
            <td>Nguyễn Văn A</td>
            <td>ANV10023</td>
            <td>12/04/2023</td>
            <td>
              <button class="btn btn-green btn-recovery">Thu hồi</button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>TS001</td>
            <td>Laptop Dell XPS 13 9320 i5 1240P</td>
            <td>Laptop</td>
            <td>Nguyễn Văn A</td>
            <td>ANV10023</td>
            <td>12/04/2023</td>
            <td>
              <button class="btn btn-green btn-recovery">Thu hồi</button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <nav aria-label="pagination">
        <ul class="pagination">
          <li><a href=""><span aria-hidden="true">«</span><span class="visuallyhidden">Trước</span></a></li>
          <li><a href=""><span class="visuallyhidden"></span>1</a></li>
          <li><a href="" aria-current="page"><span class="visuallyhidden"></span>2</a></li>
          <li><a href=""><span class="visuallyhidden"></span>3</a></li>
          <li><a href=""><span class="visuallyhidden"></span>4</a></li>
          <li><a href=""><span class="visuallyhidden">Sau</span><span aria-hidden="true">»</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </main>

  <div class="modal modal-asset-detail modal-active">
    <div class="wrapper">
      <h3 class="underline-after-text">
        Thông tin tài sản
      </h3>
      <div class="field-group">
        <label>Mã tài sản:</label>
        <p>DXY002</p>
      </div>
      <div class="field-group">
        <label>Tên tài sản:</label>
        <p>Laptop Dell XPS 13 9320 i5 1240P</p>
      </div>
      <div class="field-group">
        <label>Giá tiền:</label>
        <p>45.000.000</p>
      </div>
      <div class="field-group">
        <label>Loại tài sản:</label>
        <p>Laptop</p>
      </div>
      <div class="field-group">
        <label>Hãng sản xuất:</label>
        <p>Nhà máy sản xuất QuangLinh</p>
      </div>
      <div class="field-group">
        <label>Hạn bảo hành:</label>
        <p>30/09/2024</p>
      </div>
      <div class="field-group">
        <label>Mã phiếu nhập:</label>
        <p>TQL0001</p>
      </div>
      <div class="field-group">
        <label>Ngày nhập:</label>
        <p>20/01/2023</p>
      </div>
      <div class="field-group">
        <label>Kích hoạt:</label>
        <p>Chưa kích hoạt</p>
      </div>
      <div class="field-group">
        <label>Tình trạng:</label>
        <p>Tốt</p>
      </div>


      <h3 class="underline-after-text">
        Đối tượng cấp phát
      </h3>
      <div class="field-group">
        <label>Đối tượng:</label>
        <select class="object input">
          <option value="Cá nhân">Cá nhân</option>
          <option value="Phòng ban">Phòng ban</option>
        </select>
      </div>
      <div class="allocation-placeholder">

      </div>
    </div>

    <div class="action">
      <button class="btn btn-green">Lưu</button>
      <button class="btn btn-yellow btn-close">Hủy</button>
    </div>
  </div>

</div>

<script type="module" src="../js/quanlycapphat.js"></script>
</body>

</html>
