@import "../css/app.css";
@import "../css/quanlybaohanh.css";

.allocation-filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.wrapper {
  height: 100%;
}

.modal {
  display: none;
}

